<div class="left-panel bg-white">
  <h6>Filters</h6>
  <div class="sub-heading">
    Launch Year
  </div>
  <app-buttons [getButtonLbl]="years" [param]="year" (buttonData)="getClickData($event)"></app-buttons>
  <div class="sub-heading">
    Successful Launch
  </div>
  <app-buttons [getButtonLbl]="successLaunch" [param]="launch" (buttonData)="getClickData($event)"></app-buttons>
  <div class="sub-heading">
    Successful Landing
  </div>
  <app-buttons [getButtonLbl]="successLand" [param]="land" (buttonData)="getClickData($event)"></app-buttons>
</div>
