<div class="col col-25 bg-white">
  <div class="card-header">
    <img src="{{card.links.mission_patch}}" alt="{{card.links.mission_patch}}" class="img-responsive">

  </div>
  <div class="card-body">
    <h4>{{card.mission_name}} #{{card.flight_number}}</h4>
    <div class="details">
      <div>
        <label for="">Mission Ids: </label> <span
          *ngFor="let id of card.mission_id; let islast = last">{{id}}{{islast?'':', '}}</span>
      </div>
      <div>
        <label for="">Launch Year: </label><span>{{card.launch_year}}</span>
      </div>
      <div><label for="">Successful Launch: </label><span>{{card.launch_success}}</span></div>
      <div><label for="">Successful Landing: </label><span>{{card.rocket.first_stage.cores[0].land_success}}</span>
      </div>
    </div>
  </div>
</div>
