.btn {
  border:none;
  font-size: 12px;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  padding: 3px 15px;
  display: inline-block;
  margin: 5px 13%;
}

.btn-green {
  background: #adf3ad;
}

.btn-green:hover{
  background: #6feb50;
}

